.icon_list {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  
  align-items: center;
  height: 2em;
}

@media screen and (max-width: 371px) {
  .icon_list {
    display: none;
  }
}