.start_button_main {
  background-color: #989EA1;
  border-width: 1px;
  border-color: #f0f0f1 #3a3a3a #3a3a3a #f0f0f1;

  box-shadow: 1px 1px black, inset 1px 1px rgb(199, 199, 199);


  margin-left: 3px;
  margin-right: 4px;
}

.start_button_main:active {
  border-width: 1px;
  border-color: #3a3a3a #f0f0f1 #f0f0f1 #3a3a3a;

  box-shadow: inset 1px 1px black, -1px -1px rgb(199, 199, 199);
}

.clock_button_main {
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px -1px rgb(255, 255, 255), inset 1px 1px rgb(0, 0, 0);
  border: none;

  margin-left: 3px;
  margin-right: 4px;
}

.start_button_main, .clock_button_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 60%;
  width: 4rem;

  background-color: #989EA1;
}

.os_text {
  font-family: "WindowsRegularBold", monospace;

  color: black;
  font-size: 0.7em;
  padding-bottom: 0.2em;
  
  letter-spacing: 1px;
  text-align: center;
}

.clock_text {
  font-family: "WindowsRegular", monospace;
}

.os_text, .clock_text {
  color: black;
  font-size: 0.7em;
  
  letter-spacing: 1px;
  text-align: center;
}

.logo {
  height: 1em;
  width: auto;
}

@media screen and (min-width: 641px){
  .start_button_main {
    width: 5em;
  }

  .clock_button_main {
    width: 7em;
  }

  .os_text {
    font-size: 0.9em;
  }

  .clock_text {
    font-size: 0.8em;
  }
}