@font-face {
  font-family: "WindowsRegular";
  src: url("../fonts/WindowsRegular.ttf");
}

@font-face {
  font-family: "WindowsRegularBold";
  src: url("../fonts/WindowsRegularBold.ttf");
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "WindowsRegular", monospace;
  height: 100vh;
  width: auto;
}