.icon_list {
  display: flex;
  margin: auto;
  margin-top: 4px;
  
  align-items: center;
}

.desktop_icon_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

@media screen and (max-width: 371px) {
  .icon_list {
    display: none;
  }
}

@media screen and (max-height: 390px){
  .desktop_icon_list {
    flex-direction: row;
  }
}

@media screen and (min-height: 750px) and (min-width: 750px) {
  .desktop_icon_list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    
    margin-top: 20px;
    margin-left: 10px;
  }

  .icon_list {
    margin-right: auto;
    margin-left: 4px;
  }
}