.main_container {
  display: flex;
  z-index: 1;

  align-items: center;
  background-color: #989EA1;
  border-top: solid 2px #cfcfcf;
  margin-bottom: 0;

  height: 50px;
  min-width: 216px;

overflow: hidden;
}

.main_container * {
overflow: hidden;
}